/data/eem/*
/data/20_buildings_new_model/*
/data/20_buildings_with_tariff/*
*.n3
*.ttl
*.DS_Store
*.Rbuildignore
*.Rproj.user
*.Rhistory
.RData
*.Ruserdata
inst/doc
.Rproj.user
*.pdf
*.html
data/10_building.json
data/10_building.ttl
